head
	meta(charset='utf-8')
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	link(rel="icon" type="image/png" href="/img/favicon.png")
	title #{page_title}
	+inc('css','/front.css')